extend layout

block content
    button(id="hero-button")
        h2 SEND IT
    img(src="../images/arrow.png")
    
block secondary
    .seasons
        .seasons-inner
            .mountain.face
                .mountain-wrap
                    .mountain-content
                        button(id="mtb")
                            h2 MOUNTAIN
            .mtn-back.face
                img(src="../images/mtbDH.png")
                .mtn-back-filter
                    button(id="mtb-back-button")
                        h2 GET RAD
                    img(class="btn-arrow" src="../images/arrow.png")
            .cross.face
                .cross-wrap
                    .mountain-content
                        button(id="cx")
                            h2 CROSS
            .cross-back.face
                img(src="../images/libbyRun.png")
                .cross-back-filter
                    button(id="cross-back-button")
                        h2 GET RAD
                    img(class="btn-arrow" src="../images/arrow.png")
            .road.face
                .road-wrap
                    .mountain-content
                        button(id="rd")
                            h2 ROAD
            .road-back.face
                img(src="../images/samRoad.png")
                .road-back-filter
                    button(id="road-back-button")
                        h2 GET RAD
                    img(class="btn-arrow" src="../images/arrow.png")